<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Model Scheduler</title>

    <link rel="stylesheet" href="styles/app.css" />
    <link rel="stylesheet" href="styles/classes.css" />

    <script src="js/util.js"></script>
    <script src="js/classes.js"></script>
    <link rel="icon" type="image/png" href="images/allenisdLogo.png" />
  </head>
  <body>
    <header class="navbar">
      <div class="nav_links">
	<a href="./classes"><img id="logo" src="images/allenisdLogo.png" alt="AllenISD Logo"></a>
	<div class="tooltip"><button id="darkmodeButton"><img id="darkmode" src="images/moon.png"><span class="tooltiptext">Dark Mode</span></div>
	<button onclick="play()" type="button" class="tooltip" style="background-color:transparent;background-repeat:no-repeat;border:none;margin-left:25px;"><img src="images/pause.png" alt="pause" style="width:40px;height:40px;"><span class= "tooltiptext">Mute</span></button>
	<audio id="myAudio" autoplay loop> <source src="images/backMucic.mp3" type="audio/mpeg"></audio>
	
	<script>
	  var aud = document.getElementById("myAudio");
	  var playing = true;
	  
	  function play() {

	      if (playing == true) { 
		  aud.pause();
		  playing = false;
	      } else {
		  aud.play();
		  playing = true;
	      }
	  }
	</script> 
      </div>

      <nav>
	<ul class="nav_links">
	  <div class="normalScreen">
	    <li><span class="circle1">1</span><a class="selected" href="#">SELECT COURSES</a></li>
	    <li><span class="circle0">2</span><a href="./scheduler">SCHEDULE PERIODS</a></li>
	    <li><span class="circle0">3</span><a href="./final">FINALIZE</a></li>
	  </div>
	  
	  <div class="smallScreen">
	    <li><span class="circle1">1</span><a class="selected" href="#">SELECT</a></li>
	    <li><span class="circle0">2</span><a href="./scheduler">SCHEDULE</a></li>
	    <li><span class="circle0">3</span><a href="./final">FINAL</a></li>
	  </div>
	  
	</ul>
      </nav>

      <div class="nav_links">
	<li><a class="faqbutton" href="./FAQ">FAQ</a></li>
	<li><a href="https://forms.gle/W5u57TsC8thwrkU2A" target="_blank">Send Feedback</a></li>
      </div>
    </header>

    <!-- ADHD options -->
<!--    <audio>
      <source src="images/surfer.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio> -->
    

    <!-- <iframe id="adhdVideo" width="315" height="560" src="https://www.youtube.com/embed/nNGQ7kMhGuQ?controls=0&amp;start=93" title="YouTube video player" frameborer="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
    
<!-- >>>>>>> 517922174c3e28f71d00d817d30210879087929a -->

    <!-- Background video-->
    <iframe width="560" height="315" id="minecraftBackground" src="https://www.youtube.com/embed/n_Dv4JMiwK8?start=9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe id="minecraftBackground" src="https://www.youtube.com/embed/n_Dv4JMiwK8?autoplay=1&amp;mute=1&amp;controls=0&amp;start=9" frameborder="0"> </iframe>
    <iframe id="mcdonaldPOV" src="https://www.youtube.com/embed/jpamL_Wr4eU?autoplay=1&amp;mute=1&amp;controls=0&amp;start=0" frameborder="0"></iframe>
    <!-- Modal -->
    <div class="modal" id="modal">

      <!-- Modal content-->
      <div class="modal-content">
	<img src="images/selection.gif">
	<button id="button" style="position: absolute; right: 0; top: 0; cursor: pointer;">X</button>
	</div>
    </div>

    <div class="classList">
      <div id="heading">
	<h2>Available Courses</h2>
	<input onkeyup="search()" id="search" type="text" placeholder="Search"></input>
	<hr />
      </div>
      <ul id="availableCourses">
	<!-- <li id="cs2">Computer Science II <button onclick="addCourse('cs2')" class="addButton">Add</button></li> -->
	<!-- <li id="cs3">Computer Science III <button onclick="addCourse('cs3')" class="addButton">Add</button></li> -->
	<!-- <li id="apphysics1">AP Physics I <button onclick="addCourse('apphysics1')" class="addButton">Add</button></li> -->
	<!-- <li id="abcalc">AP Calculus AB <button onclick="addCourse('abcalc')" class="addButton">Add</button></li> -->
      </ul>
    </div>

    <div class="classList2">
      <h2>Selected Courses</h2>
      <hr />
      <ul id="selectedCourses"></ul>
    </div>
    
      <iframe class="video" width="310" height="560" src="https://www.youtube.com/embed/nNGQ7kMhGuQ?autoplay=1&mute=1&controls=0&start=93" frameborder="0"> </iframe>
    <audio>
      <source src="images/surfer.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    
    <div id="footer">
      <a href="./scheduler">
	<button id="navButton" class="next" onclick="next()">Next</button>
      </a>
    </div>
  </body>
</html>
