<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="styles/login.css">
    <script defer src="js/createuser.js"></script>

  </head>

  <body class="align">
    <div class="gird align__item">
      <div class="register">
	<img src="images/allenisdLogo.png"
	     width="56"
	     height="84"
	     viewBox="77.7 214.9 274.7 412" />	

	<h2>Create User</h2>

	<form id="login-form" class="form">
	  <div class="form__field">
	    <input type="text" name="email" id="email" class="login-form-field" placeholder="Email" required autofocus>
	  </div>
	  <div class="form__field">
	    <input type="submit" value="Register" id="login-form-submit">
	  </div>
	</form>
      </div>
    </div>
  </body>


</html>
