<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Model Scheduler</title>
    <link rel="stylesheet" href="styles/FAQ.css">
    <link rel="stylesheet" href="styles/app.css">

    <script src="js/FAQ.js"></script>
    <link rel="icon"
	  type="image/png"
	  href="images/allenisdLogo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head> 
  
  <body>
    <header class="navbar">
      <div class="nav_links">
	<a href="./classes"><img id="logo" src="images/allenisdLogo.png" alt="AllenISD Logo"></a>
	<div class="tooltip"><button id="darkmodeButton"><img id="darkmode" src="images/moon.png"><span class="tooltiptext">Dark Mode</span></div>
      </div>
      
      <nav>
	<ul class="nav_links">
	  <li><span class="circle0">1</span><a href="./classes">SELECT COURSES</a></li>
	  <li><span class="circle0">2</span><a href="./scheduler">SCHEDULE PERIODS</a></li>
	  <li><span class="circle0">3</span><a href="./final">FINALIZE</a></li>

	</ul>
      </nav>

      <div class="nav_links">
	<li><a class="selected faqbutton" href="#">FAQ</a></li>
	<li><a href="https://forms.gle/W5u57TsC8thwrkU2A" target="_blank">Send Feedback</a></li>
      </div>
    </header>


    
    <h1> Frequently Asked Questions </h1>
    <div>
      <details>
	<summary>
	  How do I start?
	</summary>
	<div>
	<p> Once you login, you can start selecting your courses. Then you can move onto the scheduling page where you can schedule your courses. Finally you can move onto the final page where you can either print or save the final product.</p>
	</div>
      </details>
      <details>
	
	<summary>
	  How to select my courses?
	</summary>
	<div>
	  <center><img class="myImg" src="images/course.gif" alt="darkmode" style="width:90%;height:400px;"></center>
	</div> 
      </details>
      
      <details>
	<summary>
	  How to use the scheduler?
	</summary>
	<div>
	  <center><img class="myImg" src="images/schedule.gif" alt="darkmode" style="width:90%;height:400px;"></center>
	</div>
      </details>
      
      <details>
	<summary>
	  How to navigate the page? 
	</summary>
	<div>
	  <center><img class="myImg" src="images/next.gif" alt="darkmode" style="width:90%;height:400px;"></center>
	</div> 
      </details>
      
      <details>
	<summary>
	  What is the demand calculator?
	</summary>
	<div>
	  <p> The demand calculator shows relatively how full the class you are trying to take is at a certain period. It is calculated using the total users on the website and the total users scheduling the same class at the same time. </p>
	</div>
      </details>
      
      <details>
	<summary>
	  How to access Dark mode?
	</summary>
	<div>
	  <center><img class="myImg" src="images/darkmode.gif" alt="darkmode" style="width:90%;height:400px;"></center>
	</div>
      </details>
      
      <details>
	<summary>
	  Is any of my information going to be stored?
	</summary>
	<div>
	  <p> We store information that is necessary to run the basic features of the website including your email and password. Meanwhile, your schedules are stored on your current device. </p>
	</div>
      </details>
      
      <details>
	<summary>
	  How many schedules should I make? 
	</summary>
	<div>
	  <p> We recommend you make at least 3 separate schedules just to be sure that you are able to get your classes in their respective periods. </p>
	</div>
      </details>
      
      <details>
	<summary>
	  What do I do after I'm done with the schedule?
	</summary>
	<div>
	  <p> Once you have finalized your schedule, you can print it out or just leave it as is. </p>
	</div>
      </details>
    </div>
    
    
  </body>
  
</html>
