<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Model Scheduler</title>
    <link rel="stylesheet" href="styles/FAQ.css">
    <link rel="stylesheet" href="styles/app.css">

    <script src="js/FAQ.js"></script>
    <link rel="icon"
	  type="image/png"
	  href="images/allenisdLogo.png" />
  </head> 
  
  <body>
    <header class="navbar">
      <div class="nav_links">
	<a href="./classes"><img id="logo" src="images/allenisdLogo.png" alt="AllenISD Logo"></a>
	<div class="tooltip"><button id="darkmodeButton"><img id="darkmode" src="images/moon.png"><span class="tooltiptext">Dark Mode</span></div>
      </div>
      
      <nav>
	<ul class="nav_links">
	  <li><a href="./classes">1. SELECT COURSES</a></li>
	  <li><a href="./scheduler">2. SCHEDULE PERIODS</a></li>
	  <li><a href="./final">3. FINALIZE</a></li>
	</ul>
      </nav>

      <div class="nav_links">
	<li><a class="selected faqbutton" href="#">FAQ</a></li>
	<li><a href="https://forms.gle/W5u57TsC8thwrkU2A" target="_blank">Send Feedback</a></li>
      </div>
    </header>
    
    <h1> Frequently Asked Questions </h1>
    <div class="row">
      
      <div class="column">  
	
	<h2> How do I start?</h2>
	
	<p> A: Once you login, you can start selecting your courses. Then you can move onto the scheduling page where you can schedule your courses. Finally you can move onto the final page where you can either print or save the final product.</p>

	<h2> How to select my courses? </h2> 
	<center><a href="./FAQ"><img src="images/course.gif" alt="darkmode" style="width:30%;height:100px;"></a></center>
	
	<h2> How to use the scheduling page</h2>
	<center><a href="./FAQ"><img src="images/schedule.gif" alt="darkmode" style="width:30%;height:100px;"></a>></center>
	
	<h2> What do I do after I'm done with the schedule?</h2>
	
	<p> A: Once you have finalized your schedule, you can print it out or just leave it as is. </p>

	<h2>What is the demand calculator?</h2>

	<p>The demand calculator shows relatively how full the class you are trying to take is at a certain period. It is calculated using the total users on the website and the total users scheduling the same class at the same time.</p>

      </div>
      
      <div class="column">
	<h2> How to access Dark mode?</h2>
	
	<center><a href="./FAQ"><img src="images/darkmode.gif" alt="darkmode" style="width:30%;height:100px;"></a></center>

	<h2> Is any of my information going to be stored? </h2>
	
	<p> A: Once you have logged into the scheduler with your information none of it will be stored for safety purposes. </p>
	
	<h2> How many schedules should I make? </h2>
	
	<p> A: Usually we recommend a minimum of 3 schedules, as it is not always guaranteed that you will get the desired schedule. </p>

	<h2> Why should I use this?</h2>
	<p> A: You can use this scheduler to create an ideal schedule that can prepare you for Arena Scheduling. </p>

	<h2>Why do I have to login?</h2>
	<p>Logging in allows us to save the total users in each period for each class for the demand calculator.</p>
      </div>
    </div>
    <center><img src="https://www.essence.com/wp-content/uploads/2016/12/1481579907/IMG_8283.GIF" alt="idk" style="width:30%;height:200px;"></center>
  </body>
  
</html>
