<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ModelScheduler</title>

    <link rel="stylesheet" href="styles/app.css">
    <link rel="icon"
	  type="image/png"
	                  href="images/allenisdLogo.png" />
  </head>
  <body>
    <div class="navbar">
      <a href="./classes.html"><img id="logo" src="images/allenisdLogo.png" alt="AllenISD Logo"></a>

      <ul>
	<li><a href="./FAQ.html">FAQ</a></li>
	<li><a class="selected" href="#">FINAL</a></li>
	<li><a href="./index.html">SCHEDULER</a></li>
	<li><a href="./classes.html">COURSES</a></li>
	<li><img id="darkmode" src="images/moon.png"></li>
      </ul>
    </div>
    <!--    <div class="wrapper"> -->
      <h1>Finalize and print your schedule</h1>
    </div>
    <div class="classList">
      <h2>Your courses</h2>

      <!--        </div> -->

    <div>
      <!-- Once the method for final scheulde production is made do: ALTER TABLE Courses ALTER COLUMN seatsTaken +1; -->
    </div>
    <div style="text-align:right;margin-right:10%;"><button onClick="window.print()">Print this page
      </button>
    </div>
  </body>
</html>
