<!DOCTYPE html>
<html>
  <head>
    <title>Model Scheduler</title>
    <link rel="stylesheet" href="styles/final.css">
    <link rel="stylesheet" href="styles/app.css">
    <script src="js/final.js"></script>
    <link rel="icon"
	  type="image/png"
	        href="images/allenisdLogo.png" />
    <link rel="icon"
	  type="image/png"
	                  href="images/allenisdLogo.png" />
  </head>
  <body>
    <div class="navbar">
      <a href="./classes.html"><img id="logo" src="images/allenisdLogo.png" alt="AllenISD Logo"></a>

      <p style="font-size:42px;color:black;margin-left:0%;padding-top:4mm;">&nbsp;&nbsp;&nbsp;<strong>AHS Model Scheduler</strong></p>
      
      <ul class="no-print">
	<li><a href="./FAQ">FAQ</a></li>
	<li><a class="selected" href="./final">FINAL</a></li>
	<li><a href="./scheduler">SCHEDULER</a></li>
	<li><a href="./classes">COURSES</a><li>
	<li><div class="tooltip"><button id="darkmodeButton"><img id="darkmode" src="images/moon.png"><span class="tooltiptext">Dark Mode</span></div></li>
      </ul>
    </div>

    
      <div id="scheduleViewer">
	<div class="header" id="topLeft">
	  <span>2023-2024</span>
	</div>
	<div class="header topHeader">
	  <span>Fall Semester</span>
	</div>
	<div class="header topHeader">
	  <span>Spring Semester</span>
	</div>
	<div class="header aDay">
	  <span>A Day</span>
	</div>
	<div class="header bDay">
	  <span>B Day</span>
	</div>
	<div class="header aDay">
	  <span>A Day</span>
	</div>
	<div class="header bDay">
	  <span>B Day</span>
	</div>
	<div class="header period" id="period0Container">
	  <span>Period 0</span>
	</div>
	<div class="class combined" id="P0-S1-A"></div>
	<!--<div class="class" id="P0-S1-B"></div>-->
	<div class="class combined" id="P0-S2-A"></div>
	<!--<div class="class" id="P0-S2-B"></div>-->
	<div class="header period" id="period1Container">
	  <span>Period 1</span>
	</div>
	<div class="class combined" id="P1-S1-A"></div>
	<!--<div class="class" id="P1-S1-B"></div>-->
	<div class="class combined" id="P1-S2-A"></div>
	<!--<div class="class" id="P1-S2-B"></div>-->
	<div class="header period" id="period2Container">
	  <span>Period 2/5</span>
	</div>
	<div class="class" id="P2-S1-A"></div>
	<div class="class" id="P5-S1-B"></div>
	<div class="class" id="P2-S2-A"></div>
	<div class="class" id="P5-S2-B"></div>
	<div class="header period" id="period3Container">
	  <span>Period 3/6</span>
	</div>
	<div class="class" id="P3-S1-A"></div>
	<div class="class" id="P6-S1-B"></div>
	<div class="class" id="P3-S2-A"></div>
	<div class="class" id="P6-S2-B"></div>
	<div class="header period" id="period4Container">
	  <span>Period 4/7</span>
	</div>
	<div class="class" id="P4-S1-A"></div>
	<div class="class" id="P7-S1-B"></div>
	<div class="class" id="P4-S2-A"></div>
	<div class="class" id="P7-S2-B"></div>
	<div class="header period" id="period8Container">
	  <span>Period 8</span>
	</div>
	<div class="class combined" id="P8-S1-A"></div>
	<!--<div class="class" id="P8-S1-B"></div>-->
	<div class="class combined" id="P8-S2-A"></div>
	<!--<div class="class" id="P8-S2-B"></div>-->
      </div>
      
      
      <div id="footer" class="no-print">

	<a href="./scheduler"><button id="navButton">Back</button></a>
	
	<button onClick="window.print()" class="printButton"><img id="printButton" src="images/print-light.png" alt="printIcon" width="18" height="18" style="vertical-align:middle;margin-top:-3px">&nbsp; <strong>Print</strong></button>
      </div>
  </div>
</html>
