<!DOCTYPE html>
<html>
  <head>
    <title>Model Scheduler</title>
    <link rel="stylesheet" href="styles/app.css">
    <script src="js/util.js"></script>
    <script src="js/index.js"></script>
    <link rel="icon"
	  type="image/png"
	        href="images/allenisdLogo.png" />
    <link rel="icon"
	  type="image/png"
	                  href="images/allenisdLogo.png" />
  </head>
  <body>
    <div class="navbar">
	<a href="./classes.html"><img id="logo" src="images/allenisdLogo.png" alt="AllenISD Logo"></a>
      <ul>
	<li><a href="./FAQ.html">FAQ</a></li>
	<li><a href="./final.html">FINAL</a></li>
	<li><a class="selected" href="#">SCHEDULER</a></li>
	<li><a href="./classes.html">COURSES</a><li>
	<li><div class="tooltip"><button id="darkmodeButton"><img id="darkmode" src="images/moon.png"><span class="tooltiptext">Dark Mode</span></div></li>
      </ul>
    </div>
    
  <div id="tables">
    <div id="classes">
      <h1 id="classTitle">Classes</h1>
      </div>

    <div id="scheduleViewer">
      <div class="header topHeader" id="topLeft">
	<span>2023-2024</span>
      </div>
      
      <div class="header topHeader">
	<span>Fall Semester</span>
      </div>
      <div class="header topHeader">
	<span>Spring Semester</span>
      </div>
      <div class="header aDay">
	<span>A Day</span>
      </div>
      <div class="header bDay">
	<span>B Day</span>
      </div>
      <div class="header aDay">
	<span>A Day</span>
      </div>
      <div class="header bDay">
	<span>B Day</span>
      </div>
      <div class="header period" id="period0Container">
	<span>Period 0</span>
      </div>
      <div class="class combined" id="P0-S1-A" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="class combined" id="P0-S2-A" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="header period" id="period1Container">
	<span>Period 1</span>
      </div>
      <div class="class combined" id="P1-S1-A" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="class combined" id="P1-S2-A" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="header period" id="period2Container">
	<span>Period 2/5</span>
      </div>
      <div class="class" id="P2-S1-A" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="class" id="P5-S1-B" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="class" id="P2-S2-A" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="class" id="P5-S2-B" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="header period" id="period3Container">
	<span>Period 3/6</span>
      </div>
      <div class="class" id="P3-S1-A" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="class" id="P6-S1-B" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="class" id="P3-S2-A" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="class" id="P6-S2-B" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="header period" id="period4Container">
	<span>Period 4/7</span>
      </div>
      <div class="class" id="P4-S1-A" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="class" id="P7-S1-B" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="class" id="P4-S2-A" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="class" id="P7-S2-B" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="header period" id="period8Container">
	<span>Period 8</span>
      </div>
      <div class="class combined" id="P8-S1-A" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
      <div class="class combined" id="P8-S2-A" ondrop="drop(event)" ondragover="allowDrop(event)"><span style="pointer-events: none;">Empty</span><span id="location"></span><span id="time"></span></div>
    </div>
</div>  
    <div id="footer">
      <a href="./classes.html"><button id="navButton">Back</button></a>
      <a href="./final.html"><button onclick="sendCoursesToServer()" id="navButton" class="next">Next</button></a>
    </div>
</body>
</html>
