<!DOCTYPE html>
<html>
  <head>
    <title>Model Scheduler</title>
    <link rel="stylesheet" href="styles/app.css">
    <script src="js/index.js"></script>
    <link rel="icon"
	  type="image/png"
	        href="images/allenisdLogo.png" />
    <link rel="icon"
	  type="image/png"
	                  href="images/allenisdLogo.png" />
  </head>
  <body>
    <div class="navbar">
	<a href="./classes.html"><img id="logo" src="images/allenisdLogo.png" alt="AllenISD Logo"></a>
      <ul>
	<li><a href="./FAQ.html">FAQ</a></li>
	<li><a href="./final.html">FINAL</a></li>
	<li><a class="selected" href="#">SCHEDULER</a></li>
	<li><a href="./classes.html">COURSES</a><li>
	<li><div class="tooltip"><button id="darkmodeButton"><img id="darkmode" src="images/moon.png"><span class="tooltiptext">Dark Mode</span></div></li>
      </ul>
    </div>

    <div>
      <button class="switch"><b>Fall Semester</b></button>
      <button class="switch">Spring Semester</button>
    </div>
  <div id="tables">
    <div id="classes">
      <h1 id="classTitle">Classes</h1>
      <!---<div class="class"><p>AAAAAA</p></div>--->
    </div>

    <div id="scheduleViewer">
      <div class="header" id="topLeft">
	<span>2023-2024</span>
      </div>
      <div class="header topHeader">
	<span>High School Schedule</span>
      </div>
      <div class="header topHeader">
	<span>STEAM / CTC Schedule</span>
      </div>
      <div class="header aDay">
	<span>A Day</span>
      </div>
      <div class="header bDay">
	<span>B Day</span>
      </div>
      <div class="header aDay">
	<span>A Day</span>
      </div>
      <div class="header bDay">
	<span>B Day</span>
      </div>
      <div class="header period" id="period0Container">
	<span>Period 0</span>
      </div>
      <div class="class" id="P0-AHS-A"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P0-AHS-B"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P0-STE-A"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P0-STE-B"><span style="pointer-events: none;">Empty</span></div>
      <div class="header period" id="period1Container">
	<span>Period 1</span>
      </div>
      <div class="class" id="P1-AHS-A"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P1-AHS-B"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P1-STE-A"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P1-STE-B"><span style="pointer-events: none;">Empty</span></div>
      <div class="header period" id="period2Container">
	<span>Period 2/5</span>
      </div>
      <div class="class" id="P2-AHS-A"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P5-AHS-B"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P2-STE-A"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P5-STE-B"><span style="pointer-events: none;">Empty</span></div>
      <div class="header period" id="period3Container">
	<span>Period 3/6</span>
      </div>
      <div class="class" id="P3-AHS-A"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P6-AHS-B"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P3-STE-A"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P6-STE-B"><span style="pointer-events: none;">Empty</span></div>
      <div class="header period" id="period4Container">
	<span>Period 4/7</span>
      </div>
      <div class="class" id="P4-AHS-A"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P7-AHS-B"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P4-STE-A"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P7-STE-B"><span style="pointer-events: none;">Empty</span></div>
      <div class="header period" id="period8Container">
	<span>Period 8</span>
      </div>
      <div class="class" id="P8-AHS-A"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P8-AHS-B"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P8-STE-A"><span style="pointer-events: none;">Empty</span></div>
      <div class="class" id="P8-STE-B"><span style="pointer-events: none;">Empty</span></div>
    </div>
  
</body>
</html>
