<!DOCTYPE html>
<html>
<head>
	<title>ModelScheduler</title>

	<link rel="stylesheet" href="styles/app.css">
</head>
<body>
  <div class="navbar">
    <img src="https://i.postimg.cc/KzKfRDy9/download.png" alt="AllenISD Logo">
    
    <ul>
      <!--Make this a directly downloaded image, not a link-->
      <li><a href="FAQ.html">FAQ</a></li>
      <li><a href="final.html">FINAL</a></li>
      <li><a href="login.html">LOGIN</a></li>
      <li><a href="scheduler.html">SCHEDULER</a></li>
    </ul>
  </div>
	
	<footer class="main">
		<p>Powered by Swift.</p>
	</footer>
</body>
</html>
