<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Model Scheduler Tutorial</title>

    <link rel="stylesheet" href="styles/app.css" />
    <link rel="stylesheet" href="styles/classes.css" />
    <script src="js/util.js"></script>
    <script src="js/tutorial.js"></script>

    <link rel="icon" type="image/png" href="images/allenisdLogo.png" />
  </head>
  <body>
    <header class="navbar">
      <div class="nav_links">
	<a href="./classes"><img id="logo" src="images/allenisdLogo.png" alt="AllenISD Logo"></a>
	<div class="tooltip"><button id="darkmodeButton"><img id="darkmode" src="images/moon.png"><span class="tooltiptext">Dark Mode</span></div>

      <nav>
	<ul class="nav_links">
	  <div class="normalScreen">
	    <li><span class="circle0">1</span><a class="./classes" href="#">SELECT COURSES</a></li>
	    <li><span class="circle0">2</span><a href="./scheduler">SCHEDULE PERIODS</a></li>
	    <li><span class="circle0">3</span><a href="./final">FINALIZE</a></li>
	    <li><span class="circle1">3</span><a href="selected">TUTORIAL</a></li>
	  </div>
	  
	  <div class="smallScreen">
	    <li><span class="circle0">1</span><a class="./classes" href="#">SELECT</a></li>
	    <li><span class="circle0">2</span><a href="./scheduler">SCHEDULE</a></li>
	    <li><span class="circle0">3</span><a href="./final">FINAL</a></li>
	    <li><span class="circle1">3</span><a href="selected">TUTORIAL</a></li>
	  </div>
	  
	</ul>
      </nav>

      <div class="nav_links">
	<li><a class="faqbutton" href="./FAQ">FAQ</a></li>
      </div>
    </header>
    
    <div>  
    <center><video class="myImg" width="1260" height="1020" controls>
           <source src="images/Schedule.mp4">
               Your browser does not support the video tag.
          </video></center>
   </div>


  </body>
</html>
