
:root,
:root.light {
    --text: rgba(0, 0, 0, .5);
    --navbar: #bfd7ea;
    --navbar-hover: #95a8b6;
    --navbar-labels: #000;
    --buttons: #bfd7ea;
    --bg-color: #fff;
    --bg-color2: #fff;
    /*aDay: red;
    --bDay: blue;*/
    --aDay: rgb(247,102,94);
    --bDay: #bfd7ea;
    --classes-bg: rgb(200,200,200);
    --class: rgb(225,225,225);
    --hover-class: rgb(216,216,216);
    --gray-box: rgb(200,200,200);
    --search: white;
    --valid: rgb(183, 217, 177);
    --conflict: #ff964f;
    --invalid: rgb(247, 102, 94);
    --conflict rgb(255, 213, 128);
    --ahs: rgb(247, 102, 94);
    --steam: #bfd7ea;
    --ctc: #fffaa0;
}

:root.dark {
    --text: rgba(255, 255, 255, .5);
    --navbar: #151b66;
    --navbar-hover: #1c258c;
    --navbar-labels: #7e8ba3;
    --buttons: #151b66;
    --bg-color: #354152;
    --bg-color2: #354152;
    --aDay: #bd2d28;
    --bDay: #151b66;
    --classes-bg: #354152;
    --class: #14181f;
    --hover-class: rgb(115,115,115);
    --gray-box: rgb(60,60,60);
    --search: rgb(100,100,100);
    --valid: #4a8453;
    --invalid: #bd2d28;
    --conflict: rgb(255, 87, 51);
    --ahs: #bd2d28;
    --steam: #151b66;
    --ctc: #ffba26;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html {
	width: 100%;
	height: 100%;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey !important;
    border-radius: 7px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--navbar) !important;
    border-radius: 10px !important;
    cursor: pointer; !important
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--navbar) !important;
}

.container {
	margin: 50px auto;
}

body {
	height: 100%;
	width: 100%;
	background: linear-gradient(to top, var(--bg-color), var(--bg-color2) 90%);
}
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: black;
	color: #fff;
	width: 120px;
	line-height: 225%;
	font-size: 18px;
	text-align: center;
	border-radius: 3px;
	padding: 3px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 80%;
	left: -125%;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.navbar {
	list-style-type: none;
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
	height: 5%;
	min-height: 70px;
	display: inline-block;
	background-color: var(--navbar);
}

#logo {
	width: 60px;
	height: 60px;
	margin-top: 5px;
	float: left;
}

.navbar li {
	list-style-type: none;
	text-align: center;
	font-size: 32px;
	font-weight: 600;
	float: right;
	margin-right: 30px;
	line-height: 70px;
}

@media screen and (max-width: 1300px) {
    .navbar li {
	font-size: 15px;
    }
    .navbar {
	height: 2%;
    }

}

.navbar a {
	text-decoration: none;
	color: var(--navbar-labels);
}
.navbar .selected {
    color: var(--aDay);
}

.navbar a:hover {
	color: var(--aDay);
	transition: ease 0.2s;
}

#footer {
	position: absolute;
	height: 7%;
	bottom: 0;
	margin-left: 10%;
	width: 80%;
	margin-bottom: 25px;
}

#footer button {
	cursor: pointer;
}

#navButton {
	width: 10%;
	height: 100%;
	background-color: var(--navbar);
	border-radius: 10px;
	font-size: 24px;
	color: var(--navbar-labels);
	font-weight: bold;
}
#navButton:hover {
    background-color: var(--navbar-hover);
}

.next {
    float: right;
}

#tables {
	display: inline-block;
	width: 100%;
	height: 80%;
	overflow: hidden;
	margin-top: 1%;
	padding: none;
}

#schedule {
    float: right;
    width: 55%;
    height: 98%;
    max-width: 1200px;
    margin-right: 12%;
    margin-top: 2%;
    display: grid;
    grid-template-colums: repeat(5, 1fr);
    grid-template-rows: repeat(14, 0.25fr);
    gap: 5px;
}

/*Some absolute bullshit dear god*/
#scheduleViewer {
    width: 55%;
    height: 101%;
    margin-left: 8%;
    display: inline-grid;
    padding-left: 5px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
    background-color: var(--content-bg-color);
    border-radius: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    gap: 5px;
    overflow: auto;
}

#scheduleViewer > div {
    border-radius: 10px;
    user-select: none;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-row: span 2;

    transition: background-color 100ms ease-in-out;
}

#scheduleViewer > div.valid {
    background-color: var(--valid) !important;
}
#scheduleViewer > div.valid > span {
    pointer-events: none;
}

#scheduleViewer > div.invalid {
    background-color: var(--invalid) !important;
    pointer-events: none;
}

#scheduleViewer > div.conflicted {
    background-color: var(--conflict) !important;
    pointer-events: none;
}

#scheduleViewer > div > span {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}
/*brokey formatting for table, fix later
#scheduleViewer > div:nth-child(n + 2) {
    margin-left: -1px;
}

#scheduleViewer > div:nth-child(n + 8) {
    margin-top: -1px;
}

#scheduleViewer > div:nth-child(2),
#scheduleViewer > div:nth-child(5n) {
    margin-right: 5px;
}

#scheduleViewer > div:nth-child(3),
#scheduleViewer > div:nth-child(5n + 1) {
    margin-left: 5px;
}*/

#scheduleViewer > .highlighted {
    background-color: rgb(48, 48, 48);
    cursor: pointer;
}

#scheduleViewer > .super_highlighted {
    background-color: rgb(66, 66, 66);
}

#scheduleViewer > .class {
    background-color: var(--class);
    color: var(--text);

    min-width: 0;
    overflow: hidden;
    
    min-height: 100px;
}

#scheduleViewer > .class.notEmpty span:first-child {
    font-weight: 700;
}

.class.notEmpty .location {
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    max-width: fit-content;
}

.class.notEmpty .location.AHS {
    border: 2px solid var(--ahs);
}

.class.notEmpty .location.STEAM {
    border: 2px solid var(--steam);
}

.class.notEmpty .location.CTC {
    border: 2px solid var(--CTC);
}

.class.notEmpty {
    cursor: move;
    cursor: grab;
}

#schedulerViewer > .notEmpty:active {
    cursor: grabbing;
}

#scheduleViewer > .combined {
    grid-column: span 2;
}

#scheduleViewer > .shortened {
    grid-row: span 1;
}

#scheduleViewer > .steam {
    background-color: #d6cece;
}

#scheduleViewer > .steam-time-conflict {
    grid-row: span 3;
}

#scheduleViewer > .header {
    background-color: var(--classes-bg);
    color: var(--text);
    font-weight: bolder;
}

#scheduleViewer > .header:not(.aDay):not(.bDay) {
    border-style: solid;
    border-width: 2px;
}

#scheduleViewer > .period {
    grid-column: 1;
}

#scheduleViewer > #fall {
    grid-column: span 2;
    grid-row: 1
}

#scheduleViewer > #spring {
    grid-column: span 2;
}

#scheduleViewer > #topLeft {
    grid-row: 1 / span 2;
    margin-left: 0;
    grid-column: 1;
}

#scheduleViewer > .topHeader {
    grid-column: span 2;
    grid-row: span 1;
    height: 0.25fr;
}

#scheduleViewer > .aDay {
    color: white;
    background-color: var(--aDay);
    grid-row: span 1;
}

#scheduleViewer > .bDay {
    color: white;
    background-color: var(--bDay);
    grid-row: span 1;
}
/*End bullshit here*/



#scheduler {
	float: right;
	width: 55%;
	height: 98%;
	max-width: 1200px;
	margin-right: 12%;
	margin-top: 2%;
}

#semesterSwitchBar th {
	background-color: rgba(0, 0, 0, 0) !important;
}

#period {
	width: 20%;
}

.allen {
    width: 40%;
    color: var(--text);
}

.steam {
    width: 40%;
    color: var(--text);
}

#semesterSwitchBar {
	height: 7%;
}

.gap {
	width: 3%;
	background-color: transparent;
}

#darkmode {
	width: 40px;
	height: 40px;
	margin-top: 15px;
	cursor: pointer;
	text-line: left;
}

#darkmodeButton {
	all: unset;
}

#classes {
	float: left;
	height: 90%;
	width: 20%;
	margin-left: 8%;
	margin-top: 2%;
	background-color: var(--classes-bg);
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	text-align: center;
	color: var(--text);
	overflow-y: scroll;
}

.selectedClass {
	width: 90%;
	height: 65px;
	margin-left: 5%;
	margin-top: 3px;
	background-color: var(--class);
	border-radius: 5px;
	cursor: move;
	cursor: grab;
	line-height: 1.5;
	text-align: left;
	display: inline-block;
	transition: background-color 50ms ease-in-out;
}

.selectedClass:active {
    cursor: grabbing;
}

.selectedClass .classText {
    display: flex;
}

/*testing*/
.selectedClass .title {
    font-size: 18px;
    height: 25px;
    max-width: 80%;
    padding: 2px 0 0 5px;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
    color: var(--text);
}

.selectedClass .id {
    font-size: 14px;
    color: var(--text);
    padding-right: 5px;
    padding-left: 5px;
    float: right;
}

.selectedClass .periods {
    max-width: 55%;
    height: 30px;
    margin-top: 8px;
    margin-left: 5px;
    overflow: hidden;
    display: inline-flex;
    font-weight: bold;
}

.selectedClass .period {
    margin: 2px 0 2px 2px;
    width: 26px;
    text-align: center;
    background-color: var(--navbar);
    color: var(--text);
    border-radius: 50%;
    line-height: 1.5;
}

.selectedClass .location {
    margin: 2px 0 2px;
    padding: 0 3px 0 3px;
    text-align: center;
    border-radius: 10px;
    line-height: 1.5;
}

.selectedClass .AHS {
    border: 2px solid var(--ahs);
    width: 70px;
    font-weight: bold;
}
.selectedClass .STEAM {
    border: 2px solid var(--steam);
    width: 70px;
    font-weight: bold;
}
.selectedClass .CTC {
    border: 2px solid var(--ctc);
    width: 70px;
    font-weight: bold;
}

.selectedClass .demand {
    min-width: 30%;
    margin-top: 8px;
    margin-right: 5px;
    float: right;
}

.selectedClass .demand img {
    width: 30px;
    height: 30px;
    float: right;
    object-fit: contain;
}

.selectedClass:hover {
    background-color: var(--buttons)
}
.selectedClass:hover .period {
    background-color: var(--class);
}

#classTitle {
    line-height: 2;
    font-size: 26px;
}

table .grayBox {
	background-color: var(--gray-box);
	color: black;
}

table .redBox {
	background-color: var(--aDay);
	color: white;
}

table .blueBox {
	background-color: var(--bDay);
	color: white;
}

.switch {
    border: 1px solid black;
	border-radius: 4px;
	font-size: 14px;
	float: left;
	cursor: pointer;
	transition: background-color 200ms ease-in-out;
}

.switch:hover {
    background-color: var(--class) !important;
    
}

/*.selected {
    background-color: var(--buttons) !important;
}*/

.switch:hover {
	background: rgb(200, 200, 200);
}
