@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

html {
    width: 100%;
    height: 100%;
}

.container {
    margin: 50px auto;
}

body {
    /*background-image: linear-gradient(white, white, rgba(21,26,97,50));*/
    height: 100%;
    width: 100%;
}

.navbar {
    list-style-type: none;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden;
    height: 7%;
    min-height: 100px;
    display: inline-block;
    background-color: #BFD7EA;
}

#logo {
    width: 90px;
    height: 90px;
    margin-top: 5px;
    float: left;
}

.navbar li {
    list-style-type: none;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    float: right;
    margin-right: 30px;
    color: white;
    line-height: 100px;
}

.navbar a {
    text-decoration: none;
    color: black;
}
.navbar .selected {
    color: red;
}
.navbar a:hover {
    color: red;
    transition: ease 0.2s;
}

#footer {
    position: absolute;
    height: 7%;
    bottom: 0;
    margin-left: 15%;
    width: 70%;
    margin-bottom: 25px;
}

#navButton {
    width: 10%;
    height: 100%;
    background-color: #BFD7EA;
    border-radius: 10px;
    font-size: 24px;
    color: black;
}

.next {
    float: right;
}

#tables {
    display: inline-block;
    width: 100%;
    height: 70%;
    margin: none;
    padding: none;
}
#scheduler {
    float: right;
    width: 70%;
    height: 100%;
    margin: 2% 3% 0 3%;
}

#period {
    width: 20%;
}
#allen {
    width: 40%;
}
#steam {
    width: 40%;
}

#darkmode {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    cursor: pointer;
}
#darkmodeButton {
    all: unset;
}

#classes {
    float: left;
    height: 65%;
    width: 15%;
    margin-left: 5%;
    margin-top: 2%;
}

th {
    border-radius: 3%;
    background-color: rgb(225,225,225);
}

table .grayBox {
    background-color: rgb(200,200,200);
    color: black;
}

table .redBox {
    background-color: red;
    color: white;
}

table .blueBox {
    background-color: blue;
    color: white;
}

.switch {
    border: none;
    border-radius: 3px;
    background: rgb(225,225,225);
    font-size: 14px;
    width: 80%;
    margin-left: 10%;
    float: left;
}

/**Dark mode classes**/

.dark-mode {
    background-color: #7f7f7f;
    height: 100%;
    width: 100%;
}

table .dm-grayBox{
    background-color: rgb(200,200,200);
    color: #1E1E24;
}

.dm-switch {
    border: none;
    border-radius: 3px;
    background: rgb(225,225,225);
    font-size: 14px;
    width: 80%;
    margin-left: 10%;
    float: left;
}
