body {
	background-color: white;
}

.home {
	text-align: center;
	/*    margin-left: auto;
    margin-right: auto;**/
}

courseList {
    width: 100%;
}

p {
    display: inline;
    width: 50%;
    color: var(--text);
}

h2 {
    color: var(--text);
}

#search {
    background-color: var(--search);
    color: var(--text);
}

.available:hover {
    background-color: var(--navbar);
}

#selectedCourses > .selected:hover {
    background-color: var(--invalid);
}

/* .navBar { */
/* 	width: 30%; */
/* 	border-radius: 7px; */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
/* 	margin-bottom: 1%; */
/* } */

.navButton {
	background-color: #c3c3c3;
	color: #bfd7ea;
	font-weight: bold;
	font-family: Arial;
	font-size: 20px;
	width: 15%;
	height: 20%;
	border-radius: 6px;
	cursor: pointer;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2%;
}

.navButton:hover {
	background-color: #e0e0e0;
}

.classList,
.classList2 {
	background-color: var(--classes-bg);
	border-color: var(--text);
	box-shadow: 0 0 25px #000;
	border-style: solid;
	border-radius: 7px;
	width: 30%;
	height: 85%;
	position: absolute;
	display: flex-block;
	float: left;
	margin-top: 10px;
	overflow: hidden;
}

#availableCourses, #selectedCourses {
    overflow-y: scroll;
    height: calc(100% - 90px);
}

p {
    width: 70%;
    margin: none;
}

.classList {
	margin-left: 15%;
}

.classList2 {
	margin-left: 55%;
}

.classList > #heading > h2,
.classList2 > h2 {
	background-color: var(--classes-bg);
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 1.5;
}
#heading {
    height: 90px;
}

#heading > input {
    width: 94%;
    margin-left: 3%;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    background-color: var(--classes);
    color: var(--text);
    height: 40px;
    font-size: 18px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1300px) {
    .classList, .classList2 {
	width: 90%;
	height: 35%;
	margin-left: 5%;
    }
    .classList2 {
	position: absolute;
	margin-top: 40vh;
    }
}

.selectedClass {
    cursor: pointer !important;
    user-select: none;
}
