@keyframes border{
    0% {border-color: red;}
    15% {border-color: orange;}
    30% {border-color:yellow;}
    45% {border-color:green;}
    60% {border-color:cyan;}
    75% {border-color:blue;}
    90% {border-color:purple;}
    100% {border-color:pink;}
}

@media screen and (max-width: 900px) {
    ul.sidenav {
	width: 100%;
	height: auto;
	position: relative;
    }

    ul.sidenav li a {
	float: left;
	padding: 15px;
    }

    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
	text-align: center;
	float: none;
    }
}

:root, :root.light{
    --navbar: #bfd7ea;
    --navbar-labels: : black;
    --bg-color: white;
    --bg-color2: white;
}

:root.dark{
    --navbar: darkblue;
    --navbar-labels: white;
    --bg-color: #222222;
    --bg-color2: #434343;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
html{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    line-height: 3;
    background: linear-gradient(to top,
				var(--bg-color),
				var(--bg-color2) 90%
)
}

.column {
    top: 70px;
    float: left;
    width: 50%;

}

.row:after {
    top: 40px;
    content: "";
    display: table;
    clear: both;
}

h1 {
    animation-name: border;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border: 3px;

    top: 60px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    color: var(--navbar-labels);
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: var(--navbar-labels);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 22px;
    text-indent: 70px;
    letter-spacing: 1px; 
    line-height: 1.8;
    margin-left: 50px;
    margin-right: 130px;
    color: var(--navbar-labels);
}
