@media screen and (max-width: 900px) {
    ul.sidenav {
	width: 100%;
	height: auto;
	position: relative;
    }

    ul.sidenav li a {
	float: left;
	padding: 15px;
    }

    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
	text-align: center;
	float: none;
    }
}

* {
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    line-height: 3;
}

#darkmode {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-right: 35px;
    cursor: pointer;
}

#logo{
    width: 90px;
    height: 90px;
    margin-top: 5px;
    float: left;
}

ul {
    list-style-type: none;
    width:100%;
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden;
    min-height: 100px;
    background-color: #BFD7EA;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    margin-right: 30px;
    font-size: 40px;
    font-weight: 600;
    line-height:100px;
    text-decoration: none; 
}

li a:hover {
    color: red;
    transtion: ease.2s;
}
li .selected{
    color: red;
}

div {
    top: 70px;
    float: left;
    width: 50%;
    padding: 10px;

}

.row:after {
    top: 40px;
    content: "";
    display: table;
    clear: both;
}

h1 {
    top: 60px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

p{
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 22px;
    text-indent: 70px;
    letter-spacing: 1px; 
    line-height: 1.8;
    margin-left: 50px;
    margin-right: 130px;
}
