* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	color: var(--main-text-color);
}
@media only screen and (max-width: 1200px) {
	main {
		flex-direction: column;
	}
}

@media print {
    .no-print, .no-print * {
	display: none !important;
    }
    p{
	display:block;
    }
    span{
	color: black;
    }
    .navbar{
	margin-left: 25px
    }
    @page {
	margin-left: 10px;
    }
}
@media screen {
    p{
	display:none;
    }
}

#scheduleViewer {
    width: 70% !important;
    margin-top: 1% !important;
    margin-left: 15% !important;
    height: 81% !important;
}

.printButton {
    background-color: var(--navbar);
    color: var(--text);
    width: 10%;
    height: 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-family: "DM Sans", sans-serif;
    border-radius: 10px;
    transition-duration: 0.3s;
    float: right;
}

.printButton:hover {
    background-color: var(--navbar-hover);
}
