@media (prefers-color-scheme: dark) {
	:root {
		--main-bg-color: #2d2d2d;
		--main-gradient-bg-color: #3a3a3a;
		--alt-bg-color: #222222;
		--alt-gradient-bg-color: #434343;
		--nav-bg-color: #3a3a3a;
		--nav-gradient-bg-color: #3a3a3a;
		--content-bg-color: #5a5a5a;

		--a-day-red: #bd2d28;
		--b-day-blue: #151b66;

		--main-text-color: white;
		--lighter-text-color: #f1f1f1;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--main-bg-color: #dce9f8;
		--main-gradient-bg-color: #a3bded;
		--alt-bg-color: #cfd9df;
		--alt-gradient-bg-color: #e2ebf0;
		--nav-bg-color: #f2f7fd;
		--nav-gradient-bg-color: #f7f7f7;
		--content-bg-color: #c2d1f0;

		--a-day-red: #cb2823;
		--b-day-blue: #11197f;

		--main-text-color: black;
		--lighter-text-color: #2d2d2d;
	}
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	color: var(--main-text-color);
}

body {
 	font-family: "DM Sans", sans-serif;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow-x: hidden;
	background: linear-gradient(
		to top,
		var(--alt-bg-color) 0%,
		var(--alt-gradient-bg-color) 90%
	);
	background-position: center;
	background-size: cover;
}

nav {
	position: sticky;
	top: 0;
	left: 0;
	width: 100vw;
	height: 60px;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 10;
	background-image: linear-gradient(
		53deg,
		var(--nav-bg-color) 0%,
		var(--nav-gradient-bg-color) 10%
	);
	border-end-end-radius: 20px;
	border-end-start-radius: 20px;
}

nav a {
	position: relative;
	color: var(--main-text-color);
	font-size: 1.7rem;
	line-height: 32px;
	font-weight: bold;

	background-image: linear-gradient(
		to right,
		var(--alt-bg-color),
		var(--alt-bg-color) 50%,
		var(--main-text-color) 50%
	);
	background-size: 200% 100%;
	background-position: -100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.3s ease-in-out;
}

nav a:before {
	content: "";
	background: #54b3d6;
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 3px;
	transition: all 0.3s ease-in-out;
}

nav a:hover {
	background-position: 0;
}

nav a:hover::before {
	width: 100%;
}

nav a.selected::before {
	width: 100%;
}

main {
	display: flex;
	padding-left: 5vw;
	padding-right: 5vw;
	width: 100%;
	min-height: calc(100vh - 100px);
}

main .leftside {
	margin: 2rem;
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);

	background-image: linear-gradient(
		53deg,
		var(--nav-bg-color) 0%,
		var(--nav-gradient-bg-color) 10%
	);
	border-radius: 1rem;

	min-height: 500px;
}

main .rightside {
	margin: 2rem;
	padding-bottom: 1rem;

	flex: 2 1 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);

	background-image: linear-gradient(
		53deg,
		var(--nav-bg-color) 0%,
		var(--nav-gradient-bg-color) 10%
	);
	border-radius: 1rem;
}

a.course {
	transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
	cursor: pointer;
	font-size: 1.25rem;
	width: 80%;
	padding: 8px;
	margin-bottom: 8px;
	background-color: var(--main-bg-color);
	color: var(--lighter-text-color);
	text-align: center;
	border-radius: 10px;
	font-weight: 700;
}

a.course:hover {
	background-color: var(--content-bg-color);
	color: var(--main-text-color);
}

a.course.selected {
	background-color: var(--content-bg-color);
	color: var(--main-text-color);
}

a.semesterBtn {
	border-radius: 20px;
	border: 0;
	background-color: var(--main-bg-color);
	padding: 10px;
	margin: 10px;
	cursor: pointer;

	position: relative;
	color: var(--main-text-color);
	font-size: 1.7rem;
	line-height: 32px;
	font-weight: bold;

	transition: all 0.3s ease-in-out;
}

a.semesterBtn:before {
	content: "";
	background: #54b3d6;
	display: block;
	position: absolute;
	bottom: 5px;
	left: 15px;
	width: 0;
	height: 3px;
	transition: all 0.3s ease-in-out;
	border-radius: 2px;
}

a.semesterBtn:hover {
	background-position: 0;
}

a.semesterBtn:hover::before {
	width: calc(100% - 30px);
}

a.semesterBtn.selected::before {
	width: calc(100% - 30px);
	background: #54d675;
}

#scheduleViewer {
	width: 95%;
	height: 95%;
	margin: 0 auto;
	display: grid;
	padding-left: 5px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 3%;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
	background-color: var(--content-bg-color);
	border-radius: 10px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 16px;
	gap: 5px;
}

#scheduleViewer > div {
	border-radius: 10px;
	padding: 1rem;
	text-align: center;
	display: table;
	table-layout: fixed;
	cursor: auto;
	grid-row: span 2;
}

#scheduleViewer > div > span {
	display: table-cell;
	vertical-align: middle;
}

#scheduleViewer > div:nth-child(n + 2) {
	margin-left: -1px;
}

#scheduleViewer > div:nth-child(n + 8) {
	margin-top: -1px;
}

#scheduleViewer > div:nth-child(2),
#scheduleViewer > div:nth-child(5n) {
	margin-right: 5px;
}

#scheduleViewer > div:nth-child(3),
#scheduleViewer > div:nth-child(5n + 1) {
	margin-left: 5px;
}

#scheduleViewer > .highlighted {
	background-color: rgb(48, 48, 48);
	cursor: pointer;
}

#scheduleViewer > .super_highlighted {
	background-color: rgb(66, 66, 66);
}

#scheduleViewer > .class {
	background-color: var(--nav-bg-color);
	color: var(--main-text-color);
}

#scheduleViewer > .shortened {
	grid-row: span 1;
}

#scheduleViewer > .steam {
	background-color: #d6cece;
}

#scheduleViewer > .steam-time-conflict {
	grid-row: span 3;
}

#scheduleViewer > .header {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-weight: bolder;
}

#scheduleViewer > .period {
	grid-column: 1;
}

#scheduleViewer > #topLeft {
	grid-row: 1 / span 2;
	margin-left: 0;
}

#scheduleViewer > .topHeader {
	grid-column: span 2;
	grid-row: span 1;
	height: 0.25fr;
}

#scheduleViewer > .aDay {
	color: white;
	background-color: var(--a-day-red);
	grid-row: span 1;
}

#scheduleViewer > .bDay {
	color: white;
	background-color: var(--b-day-blue);
	grid-row: span 1;
}

@media only screen and (max-width: 1200px) {
	main {
		flex-direction: column;
	}
}

.print {
	display: none;
}
@media print {
	.screen {
		display: none;
	}
	.print {
		display: block;
	}
}

.printButton {
    background-color: gray;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    border-radius: 8px;
    transition-duration: 0.3s;
}

.printButton:hover {
    background-color:darkgray;
}
