* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	color: var(--main-text-color);
}
@media only screen and (max-width: 1200px) {
	main {
		flex-direction: column;
	}
}

@media print
{
    .no-print, .no-print *
    {
	display: none !important;
    }
}

#scheduleViewer {
    width: 70% !important;
    margin-top: 1% !important;
    margin-left: 15% !important;
    height: 80% !important;
}

.printButton {
    background-color: gray;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    border-radius: 8px;
    transition-duration: 0.3s;
}

.printButton:hover {
    background-color:darkgray;
}
